/* css reset */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* css variables */
:root{
    --navbarh: 60px;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    /* position absolute is necessary so that the element overlaps its parent */
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/*Navigation Bar : logo and image */
#logo{
    margin: 10px 34px;
}

#logo img{
    margin: 3px 6px;
    height: 60px;
    width: 125px;
}


/*Navigation Bar : List styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    /* opacity: 0.4; */
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}


/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('images/ingredients-near-pizza.jpg') no-repeat center center/cover ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: white;
    text-align: center;
    /* position: absolute;
    top: 348px; */
    font-family: 'Bree Serif', serif;
}
#home p{
    /* position: absolute;
    top: 418px; */
    color: white;
    /* width: 620px; */
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* #home button{
    position: absolute;
    top: 534px;
} */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 10px;
    padding-bottom: 34px;
    margin: 2px 10px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* Clients section */
#client-section{
    position: relative;
    /* height: 344px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('images/brooke-lark-wMzx2nBdeng-unsplash.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------*/
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('images/contact-us-4193523\ \(1\).jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Utility classes */
.hprime{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.hsecond{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    visibility: inherit;
}
.center{
    text-align: center;
}


